In [3]:
import pandas   as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
movies_metadata = pd.read_csv('C:\programmer_shit\data_salo_files\work\movies_metadata.csv' , low_memory=False)
movies_metadata

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [5]:
movies_metadata = movies_metadata.drop_duplicates()

In [6]:

# It's confused row.
# need to delete

movies_metadata[movies_metadata["original_language"] == "104.0"]
movies_metadata = movies_metadata.drop(19730 , axis = 0)

In [39]:
movies_metadata.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [40]:
count_of_rows = movies_metadata.shape[0]

In [41]:
def get_part_of_nan(column):
    return movies_metadata[column].isna().sum() / count_of_rows

In [42]:
movies_to_analysis = pd.DataFrame()

                                adult

In [43]:

get_part_of_nan("adult")

0.0

In [44]:
movies_to_analysis["adult"] = movies_metadata["adult"]

In [45]:

movies_to_analysis["adult"].value_counts()

False                                                                                                                             45437
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [46]:
movies_metadata["adult"][0]

'False'

In [47]:
# by google search
movies_to_analysis.loc[movies_to_analysis.adult != "False", 'adult'] = "True"

In [48]:
movies_to_analysis.value_counts()

adult
False    45437
True        11
dtype: int64

In [49]:
movies_to_analysis['adult'] = movies_to_analysis["adult"].replace({'True': True, 'False': False})

In [50]:
movies_to_analysis.dtypes

adult    bool
dtype: object

In [51]:
movies_to_analysis

       adult
0      False
1      False
2      False
3      False
4      False
...      ...
45461  False
45462  False
45463  False
45464  False
45465  False

[45448 rows x 1 columns]

                        belongs_to_collection

In [52]:
get_part_of_nan("belongs_to_collection")

0.9011617672944904

In [53]:

movies_metadata["belongs_to_collection"][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [54]:
# We have 'poster_path' and 'backdrop_path' . 
# Theoretically, we can do an analysis based on posters, but it is quite complicated and 90% of the data is unknown. 
# Сolumn not required

                                    budget

In [50]:
get_part_of_nan("budget")

0.0

In [59]:
movies_metadata["budget"][movies_metadata["budget"] == "0"].count() / count_of_rows

0.8044032903708266

In [60]:
# 80 % unknown 
# Сolumn not required

                                        genres

In [35]:
get_part_of_nan("genres")

0.0

In [36]:
movies_metadata["genres"][movies_metadata["genres"] == "[]"].count() / count_of_rows

0.053710464962829364

In [18]:
small_genres = movies_metadata[0:5]
small_genres

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [55]:
get_list_column(column, key_to_column):

SyntaxError: invalid syntax (<ipython-input-55-a285a5866f60>, line 1)

In [53]:
import ast

dict_genres = dict()

movies_to_analysis["genres"] = movies_metadata["genres"]


genres_column = movies_to_analysis["genres"]

i_iloc = 0
for line in genres_column:
    try:
        
        
        line_list = ast.literal_eval(line)


        genres_id_list = list()
        for i in line_list:
            genres_id_list.append(i["id"])
            dict_genres[i["id"]] = i["name"]
            genres_column[i_iloc] = genres_id_list
            

        i_iloc+=1
    except:
        continue
    
    
    
print(dict_genres)
movies_to_analysis

<ipython-input-53-176e4864b2ed>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genres_column[i_iloc] = genres_id_list

{16: 'Animation', 35: 'Comedy', 10751: 'Family', 12: 'Adventure', 14: 'Fantasy', 10749: 'Romance', 18: 'Drama', 28: 'Action', 80: 'Crime', 53: 'Thriller', 27: 'Horror', 36: 'History', 878: 'Science Fiction', 9648: 'Mystery', 10752: 'War', 10769: 'Foreign', 10402: 'Music', 99: 'Documentary', 37: 'Western', 10770: 'TV Movie', 2883: 'Aniplex', 7759: 'GoHands', 7760: 'BROSTA TV', 7761: 'Mardock Scramble Production Committee', 33751: 'Sentai Filmworks', 17161: 'Odyssey Media', 18012: 'Pulser Productions', 18013: 'Rogue State', 23822: 'The Cartel'}

       adult           genres
0      False  [16, 35, 10751]
1      False  [12, 14, 10751]
2      False      [10749, 35]
3      False  [35, 18, 10749]
4      False             [35]
...      ...              ...
45461  False             [18]
45462  False     [28, 18, 53]
45463  False               []
45464  False               []
45465  False               []

[45466 rows x 2 columns]

                            homepage

In [28]:
get_part_of_nan("homepage")

0.8288391325386003

In [75]:
# 80 % unknown 
# Сolumn not required

                                    original_language

In [29]:
get_part_of_nan("original_language")

0.00024193903136409626

In [78]:
language_count = movies_metadata["original_language"].value_counts()

In [80]:
language_count

en    32269
fr     2438
it     1529
ja     1350
de     1080
      ...
tg        1
lb        1
qu        1
zu        1
si        1
Name: original_language, Length: 92, dtype: int64

In [83]:
movies_to_analysis["original_language"] = movies_metadata["original_language"]

In [84]:
movies_to_analysis

       adult           genres original_language
0      False  [16, 35, 10751]                en
1      False  [12, 14, 10751]                en
2      False      [10749, 35]                en
3      False  [35, 18, 10749]                en
4      False             [35]                en
...      ...              ...               ...
45461  False             [18]                fa
45462  False     [28, 18, 53]                tl
45463  False               []                en
45464  False               []                en
45465  False               []                en

[45466 rows x 3 columns]

                                            overview

In [85]:
get_part_of_nan("overview")

0.020982712356486164

In [7]:
movies_metadata["overview"]

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45448, dtype: object

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [10]:
unicode_overview = movies_metadata["overview"].values.astype('U')

array(["Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",
       "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",
       "A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",
       ...,
       'When one of her hits goes wrong, a professional assassin ends up with a suitcase full of a million dollars belonging to a mob boss ...',
       "In a small town live two brothers, one a minister and the other one a hunchback painter of the chapel who lives with his wife. One dreadful and stormy night, a stranger knocks at the door asking for shelter. The stranger talks about all the good things of the earthly life the minister is missing because of his puritanical faith. The minister comes to accept the stranger's viewpoint but it is others who will pay the consequences because the minister will discover the human pleasures thanks to, ehem, his sister- in -law… The tormented minister and his cuckolded brother will die in a strange accident in the chapel and later an infant will be born from the minister's adulterous relationship.",
       '50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.'],
      dtype='<U1000')

In [12]:
vectorizer = TfidfVectorizer(stop_words='english')
features = vectorizer.fit_transform(unicode_overview)

In [15]:
k = 10
model = KMeans(n_clusters=k, init='k-means++', max_iter=100, n_init=1)
model.fit(features)

KMeans(max_iter=100, n_clusters=10, n_init=1)

In [16]:
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()

for i in range(k):
    print("Cluster %d:" % i)
    for j in order_centroids[i, :10]: #print out 10 feature terms of each cluster
        print (' %s' % terms[j])
    print('------------')

Cluster 0:
 life
 man
 young
 love
 new
 story
 time
 group
 friends
 wife
------------
Cluster 1:
 world
 war
 ii
 story
 life
 young
 american
 new
 man
 civil
------------
Cluster 2:
 family
 father
 old
 mother
 year
 life
 son
 home
 young
 man
------------
Cluster 3:
 town
 small
 new
 local
 sheriff
 life
 young
 man
 family
 girl
------------
Cluster 4:
 overview
 available
 movie
 plot
 g9
 g8
 ga
 g2
 fяed
 gaan
------------
Cluster 5:
 nan
 förlåt
 förstås
 försöker
 først
 første
 fúsi
 führer
 für
 fяed
------------
Cluster 6:
 film
 documentary
 story
 directed
 director
 life
 based
 movie
 feature
 man
------------
Cluster 7:
 police
 murder
 killer
 detective
 cop
 case
 serial
 man
 crime
 officer
------------
Cluster 8:
 school
 high
 teacher
 students
 student
 girl
 new
 girls
 friends
 year
------------
Cluster 9:
 woman
 young
 man
 love
 husband
 life
 falls
 finds
 new
 story
------------

In [ ]:
k = range(2,25)
models = [KMeans(n_clusters = i, random_state = 42).fit(features) for i in k]
dist = [m.inertia_ for m in models]

plt.plot(k, dist)

In [ ]:
                                            popularity

In [88]:
get_part_of_nan("popularity")

0.00010997228698368012

In [87]:
movies_metadata["popularity"]

0        21.946943
1        17.015539
2          11.7129
3         3.859495
4         8.387519
           ...
45461     0.072051
45462     0.178241
45463     0.903007
45464     0.003503
45465     0.163015
Name: popularity, Length: 45466, dtype: object

In [93]:
movies_to_analysis["popularity"] = movies_metadata["popularity"]

In [95]:
movies_to_analysis["popularity"] = pd.to_numeric(movies_to_analysis["popularity"], errors='coerce')

In [91]:
movies_metadata.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

       adult           genres original_language  popularity
0      False  [16, 35, 10751]                en   21.946943
1      False  [12, 14, 10751]                en   17.015539
2      False      [10749, 35]                en   11.712900
3      False  [35, 18, 10749]                en    3.859495
4      False             [35]                en    8.387519
...      ...              ...               ...         ...
45461  False             [18]                fa    0.072051
45462  False     [28, 18, 53]                tl    0.178241
45463  False               []                en    0.903007
45464  False               []                en    0.003503
45465  False               []                en    0.163015

[45466 rows x 4 columns]

In [ ]:
                                            poster_path

In [98]:
get_part_of_nan("popularity")

0.00010997228698368012

In [97]:
movies_metadata["poster_path"]

0        /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1        /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2        /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3        /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4        /e64sOI48hQXyru7naBFyssKFxVd.jpg
                       ...
45461    /jldsYflnId4tTWPx8es3uzsB1I8.jpg
45462    /xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg
45463    /d5bX92nDsISNhu3ZT69uHwmfCGw.jpg
45464    /aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg
45465    /s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
Name: poster_path, Length: 45466, dtype: object

                                production_companies

In [99]:
get_part_of_nan("production_companies")

6.598337219020806e-05

In [101]:
movies_metadata["production_companies"][1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [ ]:
# like genres

                                    production_countries

In [102]:
get_part_of_nan("production_countries")

6.598337219020806e-05

In [109]:
movies_metadata["production_countries"][24345]

"[{'iso_3166_1': 'CH', 'name': 'Switzerland'}, {'iso_3166_1': 'GE', 'name': 'Georgia'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'HU', 'name': 'Hungary'}, {'iso_3166_1': 'KZ', 'name': 'Kazakhstan'}]"

In [ ]:
                                    release_date

In [110]:
get_part_of_nan("release_date")

0.001913517793516034

In [112]:
movies_metadata["release_date"]

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

In [ ]:
                                    revenue

In [115]:
get_part_of_nan("revenue")

0.00013196674438041613

In [116]:
movies_metadata["revenue"]

0        373554033.0
1        262797249.0
2                0.0
3         81452156.0
4         76578911.0
            ...
45461            0.0
45462            0.0
45463            0.0
45464            0.0
45465            0.0
Name: revenue, Length: 45466, dtype: float64

In [117]:
movies_metadata["revenue"][movies_metadata["revenue"] == 0].count() / count_of_rows
# not need

0.8369330928605991

In [ ]:
                                runtime

In [118]:
get_part_of_nan("runtime")

0.005784542295341574

In [119]:
movies_metadata["runtime"]

0         81.0
1        104.0
2        101.0
3        127.0
4        106.0
         ...
45461     90.0
45462    360.0
45463     90.0
45464     87.0
45465     75.0
Name: runtime, Length: 45466, dtype: float64

In [ ]:
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64

In [ ]:
                                    spoken_languages

In [120]:
get_part_of_nan("spoken_languages")

0.00013196674438041613

In [121]:
movies_metadata["spoken_languages"]

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

In [122]:
movies_metadata["spoken_languages"][movies_metadata["spoken_languages"] == "[]"].count() / count_of_rows

0.08421677737210223

In [ ]:
                                    status

In [123]:
get_part_of_nan("status")

0.001913517793516034

In [125]:
movies_metadata["status"].value_counts()

Released           45014
Rumored              230
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [5]:
ratings_small = pd.read_csv('C:/programmer_shit/data_salo_files/work/ratings_small.csv')
ratings_small

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [90]:
info_NaN = {}

for i in movies_metadata.columns:
    info_NaN[i] = movies_metadata.loc[movies_metadata[i].isna()].index
info_NaN

{'adult': Int64Index([], dtype='int64'),
 'belongs_to_collection': Int64Index([    1,     3,     5,     6,     7,     8,    10,    11,    13,
                14,
             ...
             45456, 45457, 45458, 45459, 45460, 45461, 45462, 45463, 45464,
             45465],
            dtype='int64', length=40972),
 'budget': Int64Index([], dtype='int64'),
 'genres': Int64Index([], dtype='int64'),
 'homepage': Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,    10,
                11,
             ...
             45455, 45456, 45457, 45458, 45459, 45460, 45462, 45463, 45464,
             45465],
            dtype='int64', length=37684),
 'id': Int64Index([], dtype='int64'),
 'imdb_id': Int64Index([ 8966, 13757, 13821, 17382, 17510, 18959, 19322, 20806, 20937,
             21916, 22987, 23744, 33753, 36955, 40809, 41832, 45070],
            dtype='int64'),
 'original_language': Int64Index([19574, 21602, 22832, 32141, 37407, 41047, 41872, 44057, 44410,
             44576, 44655],
            dtype='int64'),
 'original_title': Int64Index([], dtype='int64'),
 'overview': Int64Index([   32,   300,   634,   635,   641,   644,   679,   792,   802,
               821,
             ...
             45246, 45294, 45310, 45313, 45341, 45342, 45377, 45398, 45399,
             45410],
            dtype='int64', length=954),
 'popularity': Int64Index([19729, 19730, 29502, 29503, 35586], dtype='int64'),
 'poster_path': Int64Index([  554,   635,   644,   711,   734,  1272,  1370,  1393,  1489,
              1626,
             ...
             45000, 45023, 45070, 45148, 45273, 45313, 45324, 45333, 45410,
             45431],
            dtype='int64', length=386),
 'production_companies': Int64Index([19729, 29502, 35586], dtype='int64'),
 'production_countries': Int64Index([19729, 29502, 35586], dtype='int64'),
 'release_date': Int64Index([  711,   734,  3460,  3628,  5879, 13839, 14801, 16836, 16953,
             17339, 17382, 18038, 18362, 18572, 19322, 19729, 19955, 20103,
             20166, 20301, 20631, 21167, 21708, 21957, 22019, 22798, 24050,
             24157, 24738, 27499, 29502, 30399, 30609, 31080, 31231, 31462,
             32167, 32738, 33357, 34245, 34280, 34440, 34450, 35586, 36421,
             36524, 36948, 37214, 37285, 37289, 37461, 37643, 37657, 38329,
             38866, 39339, 39604, 40082, 40142, 40203, 40740, 40781, 41052,
             41069, 41114, 41399, 41718, 42179, 42568, 42573, 42941, 43090,
             43377, 43523, 43962, 44014, 44065, 44098, 44296, 44798, 44978,
             45070, 45148, 45203, 45338, 45410, 45461],
            dtype='int64'),
 'revenue': Int64Index([19729, 19730, 29502, 29503, 35586, 35587], dtype='int64'),
 'runtime': Int64Index([  634,   635,   644,   802,   863,  2140, 13562, 13576, 13660,
             13757,
             ...
             44988, 45015, 45054, 45062, 45231, 45246, 45310, 45313, 45377,
             45410],
            dtype='int64', length=263),
 'spoken_languages': Int64Index([19729, 19730, 29502, 29503, 35586, 35587], dtype='int64'),
 'status': Int64Index([  189,   767,  1384,  2140,  3460,  4130,  6131,  9761, 10690,
             13623, 15857, 15988, 16831, 16876, 17235, 18171, 19358, 19415,
             19549, 19729, 19730, 20209, 20332, 20600, 20711, 21334, 21456,
             21919, 22414, 22428, 22978, 23179, 23670, 23681, 23925, 24072,
             27566, 27791, 28127, 28281, 28457, 28749, 29008, 29502, 29503,
             30184, 30186, 30352, 30492, 31124, 31268, 31614, 31616, 31674,
             31947, 32152, 33280, 34018, 35586, 35587, 35654, 36360, 36469,
             36689, 37146, 37640, 39283, 39940, 40454, 41020, 41535, 42049,
             43122, 43169, 43475, 43483, 43486, 43864, 43885, 44049, 44086,
             44216, 44377, 45067, 45090, 45159, 45442],
            dtype='int64'),
 'tagline': Int64Index([    0,    11,    27,    32,    35,    36,    39,    42,    48,
                51,
             ...
             45451, 45452, 45453, 45455, 45457, 45459, 45460, 45462, 45464,
             45465],
            dtype='int64', length=25054),
 'title': Int64Index([19729, 19730, 29502, 29503, 35586, 35587], dtype='int64'),
 'video': Int64Index([19729, 19730, 29502, 29503, 35586, 35587], dtype='int64'),
 'vote_average': Int64Index([19729, 19730, 29502, 29503, 35586, 35587], dtype='int64'),
 'vote_count': Int64Index([19729, 19730, 29502, 29503, 35586, 35587], dtype='int64')}

In [43]:
info_dublicate =  data.loc[data.duplicated()].index

Int64Index([ 1465,  9165,  9327, 13375, 16764, 21165, 21854, 22151, 23044,
            24844, 28860, 29374, 40040],
           dtype='int64')